{%extends 'blog/base.html'%}
{%block content%}
	{%for post in posts%} 
		<div class="post">
    		<div class="date">
        		<p>published:{{post.published_date}}</p>
    		</div>
    		<h1><a href="{%url 'post_detail' pk1=post.pk%}">{{post.title}}</a></h1>
    		<!-- pk is primary key which is one of the properties of query, like id we use --> 
    		<!-- post_detail is the name of an URL created in urls.py file. {%url%} is a model which obey the regular expression created in urls.py file -->
    		<p>{{post.text|linebreaksbr}}</p>
		</div>
	{%endfor%} 
{%endblock%}
